{% extends 'base.html.twig' %}

{% block title %}Gestion des ventes{% endblock %}

{% block body %}
    <div class="container my-5 p-5 col-lg-5 justify-content-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <h3>Gestion des ventes</h3>
        <h4>Ajouter des ventes</h4>

        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.dateVente, {label: 'Date'}) }}
            {{ form_row(form.heureDebut, {label: 'Heure de début'}) }}
            {{ form_row(form.heureFin, {label: 'Heure de fin'}) }}

          <button type="submit" class='btn btn-primary'>Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
