{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-3 text-center">
                <h1 class="fw-bolder">Vente du {{ dateActuelle|date('d-m-Y') }}</h1>
            </div>
        </header>
        <!-- About section-->
        <section id="encheres" class="py-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col p-4 justify-content-center">
                        {{ affichageDesMessages }}
                        <h3>Lots à la vente</h3>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>Num. lot</th>
                                <th>Bateau</th>
                                <th>Date pêche</th>
                                <th>Éspèce</th>
                                <th>Bac</th>
                                <th>Prix au Kg</th>
                                <th>Prix départ</th>
                                <th>Poids (Kg)</th>
                                <th>Taille</th>
                                <th>ETQP</th>
                                <th>Heure d'ouverture enchère</th>
                            </tr>
                            {% for lot in lots %}
                                {# Mettre en surbrillance la ligne du lot ACTUELLENT ouvert à la vente #}
                                {% if lot.id == idLotActuel %}
                                    <tr class="bg-light-blue">
                                        <td>▶</td>
                                {% else %}
                                    <tr>
                                        <td></td>
                                {% endif %}
                                        <td>{{ lot.id }}</td>
                                        <td>{{ lot.peche.bateau.nomBateau }}</td>
                                        <td>{{ lot.peche.datePeche('d-m-Y') }}</td>
                                        <td>{{ lot.espece.nomEspece }}</td>
                                        <td>{{ lot.bac.tare }}</td>
                                        <td>{{ lot.prixDepart }}</td>
                                        <td>{{ lot.prixDepart }}</td>
                                        <td>{{ lot.poidsBrutLot }}</td>
                                        <td>{{ lot.taille.id }}</td>
                                        <td>{{ lot.qualite.code }}</td>
                                        <td>{{ lot.heureDebutEnchere|date('H:i') }}</td>
                                    </tr>
                            {% endfor %}
                        </table>
                    </div>

                    {# Si un lot est actuellement ouvert aux enchères, afficher le formulaire #}
                    {% if idLotActuel != -1 %}
                        <div class="col p-3 justify-content-center">
                            <h3>Enchères sur ce lot</h3>
                            <table class="table">
                                <tr>
                                    <th>Prix</th>
                                    <th>Heure</th>
                                    <th>Enchèreur</th>
                                </tr>
                                {% for enchere in encheres %}
                                    <tr>
                                        <td>{{ enchere.prixEnchere }}</td>
                                        <td>{{ enchere.heureEnchere|date('H:i:s') }}</td>
                                        <td>{{ enchere.acheteur.raisonSocialeEntreprise }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col p-4 justify-content-center">
                            <h3>Formulaire d'enchères</h3>
                            <h4>Lot n°{{ idLotActuel }}</h4>
                            {{ form_start(form) }}
                                {{ form_row(form.prixEnchere, {label: 'Prix d\'enchère', 'type': 'number', 'min': enchereLaPlusHaute }) }}
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            {{ form_end(form) }}
                            
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <!-- Footer-->
{% endblock %}
