{% extends 'base.html.twig' %}

{% block title %}Gestion des acheteurs{% endblock %}

{% block body %}
    <div class="container my-5 p-5 col-lg-5 justify-content-center">
        <h3>Gestion des acheteurs</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('app_admin_ajouter_acheteur') }}">Ajouter des acheteurs</a></li>
            <li class="list-group-item"><a href="{{ path('app_admin_acheteurs') }}">Modifier des acheteurs</a></li>
            <li class="list-group-item"><a href="{{ path('app_admin_acheteurs') }}">Supprimer des acheteurs</a></li>
        </ul>
        <h4 class="mt-4">Liste des acheteurs</h4>
        <ul class="list-group">
            {# You need to pass 'acheteurs' from your controller #}
            {% for acheteur in acheteurs %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ acheteur.raisonSocialeEntreprise }}
                    <span>
                        <a href="{{ path('app_admin_modifier_acheteur', {'id': acheteur.id}) }}" class="btn btn-sm btn-warning">Modifier</a>
                        <form method="post" action="{{ path('app_admin_supprimer_acheteur', {'id': acheteur.id}) }}" style="display:inline;" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet acheteur ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ acheteur.id) }}">
                            <button class="btn btn-sm btn-danger">Supprimer</button>
                        </form>
                    </span>
                </li>
            {% else %}
                <li class="list-group-item">Aucun acheteur enregistré.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
