{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-3 text-center">
                <h1 class="fw-bolder">Vente du {{ dateActuelle|date('d-m-Y') }}</h1>
            </div>
        </header>
        <!-- About section-->
        <section id="parcourir">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Lots à la vente</h2>
                        <table class="table">
                            <tr>
                                <th>Num. lot</th>
                                <th>Bateau</th>
                                <th>Éspèce</th>
                                <th>Bac</th>
                                <th>Prix au Kg</th>
                                <th>Poids (Kg)</th>
                                <th>Taille</th>
                                <th>ETQP</th>
                            </tr>
                            {% for lot in lots %}
                                <tr>
                                    <td>{{ lot.id }}</td>
                                    <td>{{ lot.peche.bateau.nomBateau }}</td>
                                    <td>{{ lot.espece.nomEspece }}</td>
                                    <td>{{ lot.bac.id }}</td>
                                    <td>{{ lot.prixDepart }}</td>
                                    <td>{{ lot.poidsBrutLot }}</td>
                                    <td>{{ lot.taille.id }}</td>
                                    <td>{{ lot.qualite.code }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
{% endblock %}
