<!DOCTYPE html>

{# Ajouter ce bloc dans les templates pour afficher les messages d'erreur,
de validations, etc. #}
{% set affichageDesMessages %}
    {% for label, messages in app.flashes(['warning', 'info', 'success', 'danger', 'error']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endset %}


<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Criée - {% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

        <!-- <title>{#% block title %#}Welcome!{#% endblock %#}</title> -->
        <!-- <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> -->
        {% block stylesheets %}<!-- <link href="assets/styles/app.css" rel="stylesheet" /> -->{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="/">Criée de la Cornouaille</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_about') }}">À propos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_vente') }}">Vente</a></li>
                        {# Si un utilisateur est authentifié : #}
                        {% if app.user != null %}
                            {# Si c'est un admin #}
                            {% if 'ROLE_ADMIN' in app.user.roles %}
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Administration
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                        <li><a class="dropdown-item" href="{{ path('admin_user_new') }}">Créer un utilisateur</a></li>
                                        <li><a class="dropdown-item" href="{{ path('admin_users') }}">Modérer les utilisateurs</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_acheteurs') }}">Gérer les acheteurs</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_admin_lots') }}">Gérer les lots</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_bateaux') }}">Gérer les bateaux</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_peches') }}">Gérer les pêches</a></li>
                                        <li><a class="dropdown-item" href="{{ path('app_ventes') }}">Gérer les dates de vente</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a class="dropdown-item" href="{{ path('app_compta_factures') }}">Générer les factures</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                            <li class="nav-item dropdown mx-2 px-2 border border-white rounded bg-light">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    👤 {{ app.user.login }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                    <li><a class="dropdown-item" href="/logout">Déconnexion</a></li>
                                    <li><a class="dropdown-item" href="{{ path('account_settings') }}">Paramètres du compte</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                    new bootstrap.Tooltip(tooltipTriggerEl);
                });
            });
        </script>
    </body>
</html>
