{% extends 'base.html.twig' %}

{% block title %}Gestion des lots{% endblock %}

{% block body %}
    <div class="container my-5 p-5 col-lg-5 justify-content-center">
        {{ affichageDesMessages }}

        <div class="alert alert-info" role="info">
            Pensez à créer une Vente à la date souhaitée avant de créer des Lots.
        </div>

        <h3>Gestion des lots</h3>
        <h4>Ajouter des lots</h4>

        {{ form_errors(form) }}

        {{ form_start(form) }}
            {{ form_row(form.prixPlancher, {label: 'Prix plancher'}) }}
            {{ form_row(form.prixDepart, {label: 'Prix de départ'}) }}
            {{ form_row(form.prixEncheresMax, {label: 'Prix d\'enchère maximal'}) }}
            {{ form_row(form.vente, {label: 'Date de vente'}) }}
            {{ form_row(form.heureDebutEnchere, {label: 'Heure de début d\'enchère'}) }}
            {{ form_row(form.codeEtat, {label: 'Code d\'état'}) }}
            {{ form_row(form.poidsBrutLot, {label: 'Poids brut du lot'}) }}
            {{ form_row(form.qualite, {label: 'Qualité du lot'}) }}
            {{ form_row(form.bac, {label: 'Bac'}) }}
            {{ form_row(form.presentation, {label: 'Présentation'}) }}
            {{ form_row(form.taille, {label: 'Taille'}) }}
            {{ form_row(form.espece, {label: 'Éspèce'}) }}
            {{ form_row(form.peche, {label: 'Pêche'}) }}

          <button type="submit" class='btn btn-primary'>Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
